<dig-plugin *digPlugin="'global:greeting'; form: form; let data">
  <dig-plugin-form [formGroup]="form" >
    <input formControlName="name" placeholder="text">
  </dig-plugin-form>
  <dig-plugin-template>
    <h1>HI {{data.name}}!</h1>
  </dig-plugin-template>
</dig-plugin>

<dig-plugin *digPlugin="'global:greeting'; let data">
  <dig-plugin-form [formGroup]="form" >
    <input formControlName="name" placeholder="text">
  </dig-plugin-form>
  <dig-plugin-template>
    <h1>HI {{data.name}}!</h1>
  </dig-plugin-template>
</dig-plugin>

<dig-plugin *digPlugin="'global:greeting_static'; data: {name: 'bart'};let data">
  <dig-plugin-form [formGroup]="form" >
    <input formControlName="name" placeholder="text">
  </dig-plugin-form>
  <dig-plugin-template>
    <h1>HI {{data.name}}!</h1>
  </dig-plugin-template>
</dig-plugin>
