<div class="hero">
  <div class="open-source">
    <img src="assets/images/osi-logo.png" alt="open source logo">
  </div>
  <div class="brand">
    <div class="headline">
      <img src="assets/images/logo.png">
      <h1>DigCms</h1>
    </div>
    <p>DigCms turns your Angular project into a CMS with 5 lines of code!</p>
  </div>
</div>

<section>
  <aside class="quickstart">
    <markdown src="assets/wiki/quickstart.md"></markdown>
  </aside>
  <main>

  </main>
</section>

<section>
  <h2>Example</h2>
</section>

